@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
.error-message {
    padding-top: 2em;
    padding-left: 4em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;
  }
  
  .mat-expansion-panel {
    margin: auto;
  }
  
  .add-category-card {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  mat-form-field {
    width: 300px !important;
  }